@{
    ViewData["Title"] = "Home Page";
}
<h2 style=" text-align: center;">Alerts</h2>
@foreach (Alert a in ViewBag.alerts)
{
    <tr>
        <th scope="row">@a.AlertID</th>
        <td>@a.AlertName</td>
        <td>@a.StartAlert</td>
        @*<td>@a.Student_Employment.Student.FirstName</td>*@
        <td>
            <div class="btn-group" role="group" aria-label="Edit/Delete Buttons">
                <a asp-controller="Home" asp-action="ClearAlert" asp-route-id="@a.AlertID" class="btn btn-primary px-4">Complete</a>
            </div>
        </td>
    </tr>
}
<h2 class="text-center my-3">IS Department Employee Database</h2>
<div class="d-flex justify-content-center flex-wrap">
    <div class="card mr-2" style="width: 18rem;">
        <img class="card-img-top" src="~/img/employees.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">View Employee Data</h5>
            <p class="card-text">View, edit, and filter existing employee data.</p>
            <a asp-controller="Home" asp-action="EmployeeData" class="btn btn-primary">View Data</a>
        </div>
    </div>
    <div class="card mr-2" style="width: 18rem;">
        <img class="card-img-top" src="~/img/job.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Add Employee Data</h5>
            <p class="card-text">Add new employee information to the database.</p>
            <a asp-controller="Home" asp-action="CreateEmployee" class="btn btn-primary">Add Employee</a>
        </div>
    </div>
    <div class="card mr-2" style="width: 18rem; opacity:0">
        <img class="card-img-top" src="~/img/city.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
